.consoleContainer{
    width: 20%;
    border: 1px solid #eee;
    margin-left: 20px;
    border-radius: 5px;
    float: left;
}
.tab-div{
    height: 40px;
    border-bottom: 1px solid #eee;
}
.console-li-left{
    float: left;
    width: 33.3%;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px 0 0 0;
}
.console-li-middle{
    float: left;
    width: 33.3%;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.console-li-right{
    float: left;
    width: 33.3%;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0 5px 0 0;
}
.tab-active{
    background: #4178be;
    color: #FFF;
    transition: background 0.5s;
    -moz-transition: background 0.5s;	/* Firefox 4 */
    -webkit-transition: background 0.5s;	/* Safari 和 Chrome */
    -o-transition: background 0.5s;	/* Opera */

}
.container-title{
    background: #eee;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}
.body-top-container{
    margin-top:10px;
    padding: 0 10px;
}
.filter-middle-container , .filter-buttom-container{
    padding: 10px;
}
.filter-top-container{
    max-height: 300px;
    overflow: auto;
}
.top-container-body{
    height: 150px;
    width: 100%;
    position: relative;
}
.top-container-body-left{
    width: 12%;
    height: 100%;
    border-right: 1px solid #eee;
    line-height: 150px;
    text-align: center;
    float: left
}
.top-container-body-right{
    float: left;
    width: 88%;
}
.top-container-body-right-select{
    border-bottom: 1px solid #eee
}
.top-container-body-right-select-style{
    width: 200px;
    margin: 10px;
    height: 25px;
    border-radius: 5px;
    outline: none;
}
.ToggleButton-button{
    height: 30px;
    border: 1px solid #999;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
}
.btn_active{
    border: 2px solid #4178be;
    color: #4178be;
    font-weight: bold;
}
.mengban-zhihui{
    width: 100%;
    height: 150px;
    background: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.2;
    transition : opacity 0.5s
}
